<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    İdarəetmə Paneli
                </a>
                <div class="sb-sidenav-menu-heading">Məzmun</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
                    Kateqoriyalar
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Article" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                    Bloqlar
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Comment" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                    Rəylər
                </a>
                <div class="sb-sidenav-menu-heading">İstifadəçilər</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
                    Rollar
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    İstifadəçilər
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Daxil olan istifadəçi:</div>
            Babək Ağamuradlı
        </div>
    </nav>
</div>